Repository IDBVietNam/cnx: changes, and which pre-commit hooks are due for each by the changed paths.
All: lower-case-only, check-print-statements

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=120"]
        exclude: "static/|staticfiles/|README.md|Dockerfile|(^|/)__init__\\.py$"
  - repo: local
    hooks:
    -   id: lower-case-only
        name: lower case only
        entry: filenames must be lower-case or lower_case only
        language: fail
        files: '[^a-z0-9._/-]'
        exclude: "static/|staticfiles/|README.md|Dockerfile|(^|/)__init__\\.py$"
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml
        entry: djhtml --tabwidth 4
  - repo: https://github.com/ecugol/pre-commit-hooks-django
    rev: v0.4.0
    hooks:
    -   id: check-absent-migrations
  - repo: local
    hooks:
      - id: check-print-statements
        name: Check for print statements
        entry: ./pre-commit/check_print_statements.py
        language: system
        types: [python]
        exclude: "pre-commit/"

update to save data into database
  home/forms/contact_info_form.py
  home/views/contact_info_form.py
  home/views/cutomer_info_form.py
Due: check-print-statements

fix pre-commit format
  home/forms/contact_info_form.py
Due: check-print-statements

create payment info form
  home/forms/payment_info_form.py
  home/migrations/0005_create_payment_info_table.py
  home/models/__init__.py
  home/models/payment_info.py
  home/urls.py
  home/views/form_views.py
  home/views/paymeny_info_form.py
  templates/home/components/forms/payment-info-form.html
Due: check-print-statements

create new app for campaign
  campaign/__init__.py
  campaign/apps.py
  campaign/forms/__init__.py
  campaign/forms/contact_info_form.py
  campaign/forms/customer_info_form.py
  campaign/forms/payment_info_form.py
  campaign/migrations/0001_init_campaign_model.py
  campaign/migrations/__init__.py
  campaign/models/__init__.py
  campaign/models/contact_info.py
  campaign/models/customer_info.py
  campaign/models/payment_info.py
  campaign/urls.py
  campaign/views/__init__.py
  campaign/views/base_views.py
  campaign/views/campaign_views.py
  campaign/views/contact_info_form.py
  campaign/views/cutomer_info_form.py
  campaign/views/form_views.py
  campaign/views/paymeny_info_form.py
  cnx_service/settings.py
  cnx_service/urls.py
  home/migrations/0006_remove_all_models_of_home_app.py
  home/urls.py
  home/views.py
  templates/home/components/forms/contact-info-form.html
  templates/home/components/forms/customer-info-form.html
  templates/home/components/forms/payment-info-form.html
  templates/layout/nav-bar.html
Due: check-print-statements

create product info table
  campaign/forms/product_info_form.py
  campaign/migrations/0002_create_product_info_table.py
  campaign/models/__init__.py
  campaign/models/product_info.py
  campaign/urls.py
  campaign/views/form_views.py
  campaign/views/product_info_form.py
  templates/home/components/fields/date-input.html
  templates/home/components/forms/product-info-form.html
Due: check-print-statements

create address info table
  campaign/forms/address_info_form.py
  campaign/migrations/0002_create_address_info_table_and_product_info_table.py
  campaign/migrations/0002_create_product_info_table.py
  campaign/models/__init__.py
  campaign/models/address_info.py
  campaign/models/product_info.py
  campaign/urls.py
  campaign/views/address_info_form.py
  templates/home/components/forms/address-info-form.html
Due: check-print-statements

create phone info table
  campaign/forms/phone_info_form.py
  campaign/migrations/0003_create_phone_info_table.py
  campaign/models/__init__.py
  campaign/models/phone_info.py
  campaign/urls.py
  campaign/views/form_views.py
  campaign/views/phone_info_form.py
  templates/home/components/forms/phone-info-form.html
Due: check-print-statements

update file pre-commit
  .pre-commit-config.yaml
  activities/views.py
Due: check-print-statements

update login page
  .vscode/settings.json
  cnx_service/settings.py
  templates/user/login.html
  user/urls.py
  user/views/auth/__init__.py
  user/views/auth/login_view.py
  user/views/auth/logout_view.py
Due: check-print-statements

update login page
  campaign/models/__init__.py
Due: check-print-statements

Search for fields in TelesalesV2
  cnx_service/settings.py
  cnx_service/urls.py
  entrypoint.sh
  phoenix_example/urls.py
  telesalesv2/migrations/0001_initial.py
  telesalesv2/migrations/0002_remove_telesalesv2_serial_number.py
  telesalesv2/migrations/0003_alter_telesalesv2_call_status.py
  telesalesv2/migrations/0004_alter_telesalesv2_call_result_and_more.py
  telesalesv2/models.py
  telesalesv2/urls.py
  telesalesv2/views.py
  templates/layout/advance-tables.html
  templates/layout/nav-bar.html
  templates/phoenix_example/index.html
  templates/telesalesv2/telesales.html
Due: check-print-statements

update login page
  user/migrations/0001_initial.py
  user/migrations/0002_alter_customuser_first_name_and_more.py
  user/migrations/__init__.py
Due: check-print-statements

add staging config
  .github/workflows/deploy.yml
  cnx_service/settings.py
  docker-compose.yml
  nginx/nginx.Dockerfile
  nginx/nginx.conf
  staging.yml
  templates/home/activities/activities.html
Due: check-print-statements

create callsource model
  callsource/__init__.py
  callsource/admin.py
  callsource/apps.py
  callsource/migrations/0001_initial.py
  callsource/migrations/__init__.py
  callsource/models.py
  callsource/tests.py
  callsource/urls.py
  callsource/views.py
  cnx_service/settings.py
  cnx_service/urls.py
  templates/home/callsource/callsource.html
  templates/home/callsource/partials/callsource_list.html
  templates/layout/nav-bar.html
Due: check-print-statements

update model, UI
  callsource/migrations/0002_alter_callsource_options_callsource_note.py
  callsource/migrations/0003_callsource_category.py
  callsource/models.py
  templates/home/callsource/callsource.html
  templates/home/callsource/partials/callsource_list.html
Due: check-print-statements

update login page
  .pre-commit-config.yaml
  activities/migrations/0001_initial.py
  campaign/migrations/0001_initial.py
  campaign/migrations/0002_create_address_info_table_and_product_info_table.py
  campaign/migrations/0003_create_phone_info_table.py
  home/migrations/0001_initial.py
  home/migrations/0002_delete_customerinfo.py
  home/migrations/0003_initial.py
  home/migrations/0004_create_contact_info_table.py
  home/migrations/0005_create_payment_info_table.py
  home/migrations/0006_remove_all_models_of_home_app.py
  user/migrations/0001_initial.py
  user/migrations/__init__.py
Due: check-print-statements

create call outcome model
  campaign/forms/call_outcome_form.py
  campaign/migrations/0004_create_call_outcome_model.py
  campaign/models/__init__.py
  campaign/models/call_outcome.py
  campaign/urls.py
  campaign/views/call_outcome_form.py
  campaign/views/campaign_views.py
  templates/home/components/fields/boolean-field.html
  templates/home/components/fields/dynamic-select.html
  templates/home/components/fields/textarea-field.html
  templates/home/components/forms/address-info-form.html
  templates/home/components/forms/call-outcome-form.html
  templates/home/components/forms/phone-info-form.html
  templates/home/components/forms/product-info-form.html
  templates/home/manage_telesales/campaign.html
Due: check-print-statements

fix styling
  templates/home/components/forms/call-outcome-form.html
Due: none

add user app and login feature
  .pre-commit-config.yaml
  cnx_service/settings.py
  cnx_service/urls.py
  templates/layout/top-bar.html
  templates/user/login.html
  user/__init__.py
  user/admin.py
  user/apps.py
  user/migrations/0001_initial.py
  user/migrations/__init__.py
  user/models.py
  user/tests.py
  user/urls.py
  user/views.py
Due: check-print-statements

testing iframe phone call
  docker-compose.yml
  templates/home/activities/activities.html
Due: none

testing iframe phone call
  .github/workflows/deploy.yml
Due: none

add new section for testing telesale
  activities/urls.py
  activities/views.py
  templates/home/activities/activities.html
  templates/home/activities/test_telesales.html
  templates/layout/nav-bar.html
Due: check-print-statements

fix issue migrations
  home/migrations/0003_initial.py
  home/migrations/0004_create_contact_info_table.py
  home/migrations/0005_create_payment_info_table.py
  home/migrations/0006_remove_all_models_of_home_app.py
Due: check-print-statements

update deployment flow
  .github/workflows/deploy.yml
Due: none

fix hooks
  .pre-commit-config.yaml
  templates/telesalesv2/telesales.html
Due: none

Run Django MySQL in Docker
  .env.example
  README.md
  activities/migrations/0001_initial.py
  cnx_service/__init__.py
  cnx_service/settings.py
  docker-compose.yml
  home/admin.py
  home/migrations/0001_initial.py
  home/migrations/0002_delete_customerinfo.py
  home/migrations/0003_initial.py
  home/migrations/0004_create_contact_info_table.py
  home/migrations/0005_create_payment_info_table.py
  home/migrations/0006_remove_all_models_of_home_app.py
  requirements.txt
  telesalesv2/migrations/0001_initial.py
  telesalesv2/migrations/0002_remove_telesalesv2_serial_number.py
  telesalesv2/migrations/0003_alter_telesalesv2_call_status.py
  telesalesv2/migrations/0004_alter_telesalesv2_call_result_and_more.py
  telesalesv2/models.py
  telesalesv2/tests.py
  templates/layout/advance-tables.html
  templates/phoenix_example/index.html
  templates/telesalesv2/telesales.html
Due: check-print-statements

update pagination
  activities/views.py
  templates/home/activities/activities.html
  templates/home/activities/partials/activities_list.html
Due: check-print-statements

add django filter back
  cnx_service/settings.py
  requirements.txt
Due: check-print-statements

add authentication
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  cnx_service/middleware/auth_middleware.py
  cnx_service/settings.py
  cnx_service/urls.py
  templates/layout/top-bar.html
  templates/user/login.html
  user/__init__.py
  user/admin.py
  user/apps.py
  user/migrations/0001_initial.py
  user/migrations/__init__.py
  user/models.py
  user/tests.py
  user/urls.py
  user/views.py
Due: check-print-statements

refactor code
  .github/workflows/pre-commit.yml
  activities/urls.py
  requirements.txt
  templates/layout/nav-bar.html
Due: check-print-statements

Create Jenkinsfile
  Jenkinsfile
Due: lower-case-only

Update Jenkinsfile
  Jenkinsfile
Due: lower-case-only

resolve comment
  .env.example
  Jenkinsfile
  README.md
  activities/migrations/0001_initial.py
  cnx_service/__init__.py
  cnx_service/settings.py
  docker-compose.yml
  entrypoint.sh
  home/admin.py
  requirements.txt
  telesalesv2/views.py
  templates/phoenix_example/index.html
  templates/telesalesv2/telesales.html
Due: lower-case-only, check-print-statements

undo index phoenix example
  templates/phoenix_example/index.html
Due: none

create custoim tab for menu item
  static/shared/globalAlpineStore.js
  templates/home/activities/activities.html
  templates/home/activities/test_telesales.html
  templates/home/manage_telesales/campaign.html
  templates/layout/base.html
  templates/layout/nav-bar.html
Due: none

fix @click attribute
  static/shared/globalAlpineStore.js
  templates/layout/base.html
Due: none

import dowload file , edit callsources
  .gitignore
  callsource/admin.py
  callsource/forms.py
  callsource/migrations/0004_historycallsource.py
  callsource/models.py
  callsource/urls.py
  callsource/views.py
  cnx_service/settings.py
  templates/home/callsource/callsource.html
  templates/home/callsource/modal/callsource_modal.html
  templates/home/callsource/modal/callsource_modal_upload.html
  templates/home/callsource/modal/edit_callsource_modal.html
  templates/home/callsource/modal/history_callsource_modal.html
  templates/home/callsource/partials/callsource_form.html
  templates/home/callsource/partials/callsource_list.html
  templates/home/callsource/partials/history_callsource_list.html
  templates/home/callsource/partials/upload.html
  templates/layout/base.html
Due: check-print-statements

temporary
  activities/filters.py
  activities/models.py
  activities/views.py
  cnx_service/settings.py
  customer/__init__.py
  customer/admin.py
  customer/apps.py
  customer/migrations/__init__.py
  customer/models.py
  customer/tests.py
  customer/views.py
  telesalesv2/filters.py
  telesalesv2/migrations/0001_initial.py
  telesalesv2/models.py
  telesalesv2/urls.py
  telesalesv2/views.py
  templates/home/activities/activities.html
  templates/home/activities/partials/activities_list.html
  templates/home/activities/partials/activities_table.html
  templates/layout/nav-bar.html
  templates/layout/top-bar.html
  templates/telesalesv2/partials/telesales_table.html
  templates/telesalesv2/telesales.html
  user/admin.py
Due: check-print-statements

clean code
  callsource/views.py
  cnx_service/settings.py
Due: check-print-statements
